<h1>Результат</h1>

<style>
    tr > * {
        text-align: center;
    }
</style>

<table>
  <% @result.each { |row| %>
    <tr>
      <td><%= row[0] %></td>
      <td><%= row[1] %></td>
    </tr>
  <% } %>
</table>
<%= link_to "Вернуться назад", :root %>